<html>
<!-- Header Section -->
    <head>
        <h1>Typing Race</h1>
        <link rel="stylesheet" href="../style.css">
    </head>
    <nav>
        <a href="profile.html"><button>Log In</button></a>
        <button>Sign Up</button>
    </nav>

<!--Body Section-->
    <body>
        <div id="select">
            <ul>
                <li><a href="play.html"><button>Play</button></a></li>
                <li><a href="practice.html"><button>Practice</button></a></li>
                <li><a href="play.html"><button>Race a friend</button></a></li>
            </ul>
        </div>
        <div id="leaderboard">
            <h2>Leaderboard</h2>
            <ol>
                <li>Dwayne27: 129 wpm</li>
                <li>Timmy22: 117 wpm</li>
                <li>Danny48: 107 wpm</li>
            </ol>
        </div>
    </body>
</html>