<html>
<!-- Header Section -->
    <head>
        <h1>Prepare to race!</h1>
        <link rel="stylesheet" href="style.css">
    </head>

<!-- Body Section -->
<body>
    <div id="prompt">
        <p>The quick brown fox jumped over the lazy dog</p>
    </div>
    <div id="typing">
        <form>
            <label for="typing">Start typing here:</label><br>
            <input type="text" id="type" name="type"><br>
        </form>
        <button>Go</button>
    </div>
    <div id="actions">
        <button>Try Again</button>
        <button>Share Result</button>
    </div>
</body>
</html>