<html>
  <head>

        <link rel="stylesheet" href="/static/style.css">

  </head>

  <body>
    <nav>
        <ul id="nav-container">
        {% if g.user %}
            <li id="home"><a href="/">Home</a>
            <li id="user-id"><span>{{ g.user['username'] }}</span>
            <li><a id="logout" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a id="home-alt" href="/">Home</a>
            <li><a id="register" href="{{ url_for('auth.register') }}">Register</a>
            <li><a id="login" href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
        </ul>
    </nav>

  <h1>Register</h1>

  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>

  </body>
</html>