<html>
<!-- Header Section -->
    <head>
        <h1>Dwayne22</h1>
        <link rel="stylesheet" href="style.css">
    </head>
<!-- Body Section -->
    <body>
        <div id="pic">
            <p>pic</p>
        </div>
        <div id="description">
            <p>Average WPM: 0 wpm</p>
            <p>Races completed: 100</p>
            <p>Races won: 12</p>
        </div>
        <div id="prompts">
            <ul>
                <li>
                    <button>Try this race</button>
                    <p>The quick brown fox jumps over..... 88 wpm</p>
                </li>
                <li>
                    <button>Try this race</button>
                    <p>Romeo and Juliet..... 107 wpm</p>
                </li>
                <li>
                    <button>Try this race</button>
                    <p>Bee movie script..... 92 wpm</p>
                </li>
            </ul>
        </div>
    </body>
</html>